.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nav-ul li{
  display:inline-block;
  padding:10px;
  
}
.nav-ul li a{
  text-decoration: none;
  font-size: large;
 padding:5px;
}
.nav-ul li a:hover{
  color:black;
}
.nav-ul{
  background-color: #61dafb;
  margin:0px;
  /* 
  margin-left: 0%; */
}
.nav-right{
  text-align: right;
}
.invalid{
  color:red;
  margin-right:800px;
}
.App-header {
  background-color: #0a0b0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.product-list{
  text-align: center;
  margin-top:50px;
}
.product-list ul li{
  display: inline-block;
  padding:5px;
  width:250px;
  border:1px solid skyblue;
}
.product-list ul{
  margin:0px;
}
.container{
  margin-left:40%;
}
.inputBox{
  display:block;
  margin:25px;
  padding:7px;
  width:300px;
  border:1px solid  #61dafb;
}
.logincontainer{
  margin-left:40%;
}
.loginBox{
  display:block;
  margin:25px;
  padding:7px;
  width:300px;
  border:1px solid  #61dafb;
}

.footer{
  position:absolute;
  bottom:0;
  text-align: center;
  width:100%;
  background-color: #61dafb;
}
.button{
  margin-right:800px;
  width:325px;
  height:30px;
  background-color: #61dafb;
  color:black;
  font-size: large;
  cursor: pointer;
}
.update{
  margin-right:62%;
  width:325px;
  height:30px;
  background-color: #61dafb;
  color:black;
  font-size: large;
  cursor: pointer;
}
.search-box{
  width:400px;
  padding:10px;
  margin-bottom: 15px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
